{% extends 'base/main.html' %} {% block content %} 
{%if request.user.is_authenticated%}

<div class="header">
  <div>
    <h2>Hello {{request.user|title}}</h2>
    <h4>You have <i>{{count}}</i> incomplete task{{ count|pluralize:'s' }}</h4>
  </div>
  <a href="{% url 'logout' %}">Logout</a>
  {%else%}
  <a href="{% url 'login' %}">Login</a>
  {%endif%}
</div>
<h2>My To Do List {{color}}</h2>

<div class="search-add-wrapper">
  <form method="GET" style="margin-top: 20px; display: flex">
    <input
      type="text"
      name="search"
      placeholder="Search..."
      value="{{search_input}}"
    />
    <input class="button" type="submit" value="Search" />
  </form>
  <a id="add-task" href="{% url 'create-task' %}"
    ><button class="button">Add Task</button></a
  >
</div>

<div class="tasks-wrapper">
  {% for task in tasks %}
  <div class="task-wrapper">
    {% if task.complete %}
    <div class="task-title">
      <div class="task-complete-icon"></div>
      <i><s>{{task}}</s></i>
    </div>
    <a href="{% url 'update-task' task.id%}"
      ><i class="fa-solid fa-pen-to-square edit"></i
    ></a>
    <a href="{% url 'delete-task' task.id%}"
      ><i class="fa-solid fa-trash delete"></i
    ></a>
    {%else%}
    <div class="task-title">
      <div class="task-incomplete-icon"></div>
      <i>{{task}}</i>
    </div>
    <a href="{% url 'update-task' task.id%}"
      ><i class="fa-solid fa-pen-to-square edit"></i
    ></a>
    <a href="{% url 'delete-task' task.id%}"
      ><i class="fa-solid fa-trash delete"></i
    ></a>
    {%endif%}
  </div>
  {%empty%}
  <h3>No items in list</h3>
  {% endfor %}
</div>
{% endblock content %}
