{% extends 'base/main.html' %} {% block content %} 
{%if request.user.is_authenticated%}

<div class="header">
  <div>
    <h2>Hello {{request.user|title}}</h2>
    <h4>You have <i>{{count}}</i> incomplete task{{ count|pluralize:'s' }}</h4>
  </div>
  <a href="{% url 'logout' %}">Logout</a>
  {%else%}
  <a href="{% url 'login' %}">Login</a>
  {%endif%}
</div>

<hr />
<h1>My To Do List {{color}}</h1>
<a href="{% url 'create-task' %}">Add Task</a>

<form method="GET">
  <input
    type="text"
    name="search"
    placeholder="Search..."
    value="{{search_input}}"
  />
  <input type="submit" value="Search" />
</form>

<div class="tasks-wrapper">
  {% for task in tasks %}
  <div class="task-wrapper">
    {% if task.complete %}
    <div class="task-title">
      <div class="task-complete-icon"></div>
      <i><s>{{task}}</s></i>
    </div>
    <a href="{% url 'update-task' task.id%}">&#xf044;</a>
    <a href="{% url 'delete-task' task.id%}">&#xf1f8;</a>
    {%else%}
    <div class="task-title">
      <div class="task-incomplete-icon"></div>
      <i>{{task}}</i>
    </div>
    <a href="{% url 'update-task' task.id%}">&#xf044;</a>
    <a href="{% url 'delete-task' task.id%}">&#xf1f8;</a>
    {%endif%}
  </div>
  {%empty%}
  <h3>No items in list</h3>
  {% endfor %}
</div>
{% endblock content %}
